<h2>Ask a question:</h2>

<%= form_for @question do |f| %>
  <p><%= f.label :title %><br><%= f.text_field :title %></p>
  <p><%= f.label :description %><br><%= f.text_area :description, size: '50x3' %></p>
  <p><%= f.label :channel %><br><%= f.autocomplete_field :channel, autocomplete_channel_name_questions_path %></p>
  <p><%= f.submit %></p>
<% end %>
