<%- title @question.title %>

<%= render partial: "shared/question", locals: { question: @question } %>
<%= render partial: "shared/question_answers", locals: { question: @question } %>

<% if user_signed_in? %>
  <%= form_for @answer do |f| %>
    <%= f.label :content, "Post an answer:" %>
    <%= f.hidden_field :question_id, value: @question.id %>
    <p><%= f.text_area :content %></p>
    <p><%= f.submit %></p>
  <% end %>
<% else %>
  <p>You must be logged in to post an answer.</p>
<% end %>
