<%- title @question.title %>

<div class="two-column-layout">
  <div class="main-content">
    <%= render partial: 'shared/question', locals: { question: @question } %>
    <%= render partial: 'shared/question_answers', locals: { question: @question } %>

    <% if user_signed_in? %>
      <%= form_for @answer do |f| %>
        <%= f.hidden_field :question_id, value: @question.id %>
        <h3><%= f.label :content, 'Post an answer:' %></h3>
        <p><%= f.text_area :content, size: '50x3' %></p>
        <p><%= f.submit %></p>
      <% end %>
    <% else %>
      <p>You must be logged in to post an answer.</p>
    <% end %>
  </div>

  <div class="side-bar">
    <%= render partial: 'shared/ask_question' %>
  </div>
</div>
