<%= link_to '', root_url, class: 'sailor sailor-header' %>
<h1 class="title"><%= link_to 'Overboard', root_url %></h1>

<%= form_tag search_path, class: 'search', method: :get do %>
  <input class="search-query" type="text" name="query" placeholder="Search for treasures ...">
<% end %>

<nav>
  <p class="navigation">
    <% if user_signed_in? %>
      <%= current_user.name %> • <%= link_to 'Sign out', destroy_user_session_path %>
    <% else %>
      <a href="javascript:void(0)" class="sign_in">Sign in</a>
    <% end %>
  </p>
</nav>
